{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>Hello</title>
    </head>

    <body>
        <div id="page">
            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        <li><a href="/admin/">Admin Page</a></li>
                    </ul>
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>